body {
    font-family: Tahoma;
    font-size: 13px;
    width: 1000px;
    margin: 0px auto;
}

#menu {
    background: palevioletred;
    height: 40px;
}

#banner {
    background: salmon;
    height: 300px;
    width: 1000px;
}

#main #left {
    width: 800px;
    background: white;
    float: left;
    min-height: 400px;
}

#main #right {
    width: 200px;
    background: pink;
    min-height: 400px;
    float: left;
}

#footer {
    background: orangered;
    width: 1000px;
    text-align: center;
    height: 60px;
    color: aqua;
    clear: left;
    line-height: 60px;
}

#menu ul {
    margin: 0px;
    padding: 0px;
}

#menu ul li {
    list-style: none;
    float: left;
}

#menu ul li a {
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: white;
    padding: 0px 35px 0px 35px;
    border-left: 1px solid darkcyan;
}

#menu ul li a.active {}

#banner img {
    width: 1000px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}